<div class="container">
  <h3 mat-dialog-title>Are you sure?</h3>
  <div mat-dialog-content>
    <mat-list role="list">
      <mat-list-item role="listitem">Id: {{employee.id}}</mat-list-item>
      <mat-list-item role="listitem">First name: {{employee.first_name}}</mat-list-item>
      <mat-list-item role="listitem">Last name: {{employee.last_name}}</mat-list-item>
      <mat-list-item role="listitem">Location: {{employee.location}}</mat-list-item>
      <mat-list-item role="listitem">Birthday: {{employee.birthday | date}}</mat-list-item>
      <mat-list-item role="listitem">Email: {{employee.email}}</mat-list-item>
      <mat-list-item role="listitem">Telephone: {{employee.telephone}}</mat-list-item>
      <mat-list-item role="listitem">Created at: {{employee.created_at | date}}</mat-list-item>
      <mat-list-item role="listitem">Updated at: {{employee.updated_at | date}}</mat-list-item>
    </mat-list>
  </div>

  <div mat-dialog-actions>
    <button mat-button [mat-dialog-close]="1" (click)="confirmDelete()">Delete</button>
    <button mat-button (click)="onNoClick()" tabindex="-1">Cancel</button>
  </div>
</div>
