<mat-card class="my-card">
  <mat-card-header>
    <mat-card-title>Reset password</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <form class="my-form">

      <mat-form-field class="full-width">
        <mat-label>Email</mat-label>
        <input  matInput name="email" [formControl]="email" required>
      </mat-form-field>

      <mat-form-field class="full-width">
        <mat-label>Password</mat-label>
        <input  matInput name="password" [formControl]="password" type="password" required>
      </mat-form-field>

      <mat-form-field class="full-width">
        <mat-label>Confirm Password</mat-label>
        <input  matInput name="password" [formControl]="confirm_password" type="password" required>
      </mat-form-field>

    </form>
  </mat-card-content>
  <mat-card-actions>
    <button mat-raised-button color="primary" (click)="resetPassword()">Reset password</button>
  </mat-card-actions>

</mat-card>

