<div class="container">
  <h3 mat-dialog-title>Vastused id: {{vastused.id}}</h3>
  <form mat-dialog-content #formControl="ngForm" class="mat-dialog-content">

    <div class="form">
      <mat-form-field appearance="fill">
        <mat-label>Question title</mat-label>
        <textarea matInput cdkTextareaAutosize class="form-control" [innerHTML]="vastused.question_title" [(ngModel)]="vastused.question_title" name="question_title" required (select)="questionTitleSelected($event)" readonly></textarea>
      </mat-form-field>
      <button mat-raised-button color="accent" class="add-highlight" (click)="questionTitleText()">Question title highlight</button>

    </div>


    <div class="form">
      <mat-form-field appearance="fill">
        <mat-label>Question description</mat-label>
        <textarea matInput cdkTextareaAutosize class="form-control" [(ngModel)]="vastused.question_description" name="question_description" required (select)="questionDescriptionSelected($event)" readonly></textarea>
      </mat-form-field>
      <button mat-raised-button color="accent" class="add-highlight" (click)="questionDescriptionText()">Question description highlight</button>

    </div>

    <div class="form">
      <mat-form-field appearance="fill">
        <mat-label>Answer description</mat-label>
        <textarea matInput cdkTextareaAutosize #autosize="cdkTextareaAutosize" class="form-control" [(ngModel)]="vastused.answer_description" name="answer_description" required (select)="answerDescriptionSelected($event)" readonly></textarea>
      </mat-form-field>
      <button mat-raised-button color="accent" class="add-highlight" (click)="answerDescriptionText()">Answer description highlight</button>
    </div>


  </form>


</div>




